.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

select option:enabled:hover {
  background-color: color-mix(in lab, currentcolor 10%, transparent) !important;
}

select option {
  padding-left: 0;
}

.autentic-bg {
  border: 1px solid oklch(90.1% 0.058 230.902 / 0.5);
  border-radius: 0%;
  /* background-image: linear-gradient(
      135deg,
      oklch(100% 0 0 / var(--glass-opacity, 20%)) 0%,
      oklch(0% 0 0 / 0) 100%
    ),
    linear-gradient(
      var(--glass-reflect-degree, 100deg),
      oklch(100% 0 0 / var(--glass-reflect-opacity, 5%)) 0%,
      oklch(0% 0 0 / 0) 50%
    ); */

  box-shadow: inset 0 0 20px -5px oklch(90.1% 0.058 230.902 / 0.8);
}

.autentic-bg-sm {
  border: 1px solid oklch(90.1% 0.058 230.902 / 0.5);
  border-radius: 0%;
  box-shadow: inset 0 0 10px -2px oklch(90.1% 0.058 230.902 / 0.8);
}

.shadow-autentic {
  border-radius: 0;
  position: relative;
  box-shadow: inset 0px 0px 20px -5px oklch(90.1% 0.058 230.902 / 0.8);
}

/* .shadow-autentic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    oklch(90.1% 0.058 230.902 / 0.2) 0%,
    oklch(0% 0 0 / 0) 20%
  );
  pointer-events: none;
} */

.ashadow-t.ashadow-b {
  border-radius: 0;
  position: relative;
  box-shadow: inset 0px 20px 30px -30px oklch(90.1% 0.058 230.902 / 0.8),
    inset 0px -20px 30px -30px oklch(90.1% 0.058 230.902 / 0.8);
}

/* .ashadow-b {
  border-radius: 0;
  position: relative;
  box-shadow: inset 0px -20px 30px -30px oklch(90.1% 0.058 230.902 / 0.8);
} */
